div
{
    /* Div Properites */
   
    width:300px;
    height:;
    background:#DDD;
    /* Text Properties */
     Color:#00F; /* Color */
    direction:ltr; /* direction:rtl*/ /* Text Dirction */
    /*letter-spacing:15px; /* Space Betwen letters */
    margin:20px 0 ;
    padding:10px;
    line-height:2em; /* 10px ; 20px ; 100% ;200% ; 1em */
    text-align:center;
    
    
}
div.ar
{
    direction:rtl;
}